In [1]:
# Step 1: Import the required modules
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn import metrics

In [2]:
# Step 2: Preperation - import training and testing data

df_train = pd.read_csv("/Users/yuyizhang/FCR/NEU/CPS/Analytics_2018/EAI 6000_Fundamentals of Artificial Intelligence/Week 1/Titanic/train_data.csv", index_col=0)
df_test = pd.read_csv("/Users/yuyizhang/FCR/NEU/CPS/Analytics_2018/EAI 6000_Fundamentals of Artificial Intelligence/Week 1/Titanic/test_data.csv", index_col=0)
print('df_train:', df_train.shape)
print('df_test:', df_test.shape)
df_train.head()

df_train: (792, 16)
df_test: (100, 16)

,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1

In [3]:
df_train.describe()

## From the describe result we could see taht the std value of 'PassengerId' is very high. Since this is an irrelevant variable and would cause high iterations, we are going to drop it in the next step.

,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
count,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000
mean,396.500000,0.386364,0.647727,0.368244,0.064677,0.243687,0.208333,0.547980,0.088636,0.744949,0.005051,0.040404,0.209596,0.185606,0.092172,0.720960
std,228.774999,0.487223,0.477980,0.162994,0.100987,0.429577,0.406373,0.498007,0.154485,0.436165,0.070932,0.197029,0.407277,0.389034,0.289451,0.448811
min,1.000000,0.000000,0.000000,0.008375,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,198.750000,0.000000,0.000000,0.275000,0.015469,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,396.500000,0.000000,1.000000,0.350000,0.028302,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,594.250000,1.000000,1.000000,0.437500,0.061045,0.000000,0.000000,1.000000,0.100000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,792.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
# Step 3: Preperation - assigning testing and training variables

## assign the target label 'Survived' to y_train/y_test and leave the rest columns except 'PassengerId' to x_train/x_test
x_train = df_train.drop(['PassengerId', 'Survived'], axis = 1)
y_train = df_train.Survived
x_test = df_test.drop(['PassengerId', 'Survived'], axis = 1)
y_test = df_test.Survived

## check variables' shape
print('x_train:', x_train.shape)
print('y_train:', y_train.shape)

x_train: (792, 14)
y_train: (792,)

In [5]:
# Step 4: Perform Logistic Regression

## define the model
log_reg = LogisticRegression()

## fit data
log_reg.fit(x_train,y_train)

## now we are done with the model training.

LogisticRegression()

In [6]:
# Step 5: Make Prediction Using the Model

## use previously prepared test data to perform the prediction
y_pred = log_reg.predict(x_test)

## find the accuracy score to evaluate performance
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy Score:', accuracy)

Accuracy Score: 0.88

In [7]:
# Step 6: Display the Confusion Matrix

confusion_matrix(y_test, y_pred)

array([[57,  7],
       [ 5, 31]])